#!/usr/bin/env fish

set -g container_name yacd

function create_container
    if command container inspect $container_name >/dev/null 2>&1
        echo "$container_name already exists"
        return 0
    end

    command container image pull docker.io/haishanh/yacd:latest >/dev/null; or return 1
    command container create \
        --name $container_name \
        --publish '[::]:{{ .ports.yacd }}:80' \
        docker.io/haishanh/yacd:latest
end

create_container
