#!/usr/bin/env fish

set -g container_name syncclipboard-server

function create_container
    if command container inspect $container_name >/dev/null 2>&1
        echo "$container_name already exists"
        return 0
    end

    command mkdir -p "{{ env "XDG_DATA_HOME" }}/syncclipboard-server"
    command container image pull docker.io/jericx/syncclipboard-server:latest >/dev/null; or return 1

    command container create \
        --name $container_name \
        --env SYNCCLIPBOARD_USERNAME=chao \
        --env 'SYNCCLIPBOARD_PASSWORD={{ gopass "chao/password" }}' \
        --publish '[::]:{{ .ports.syncclipboard_server }}:5033' \
        --volume '{{ env "XDG_DATA_HOME" }}/syncclipboard-server:/app/data' \
        docker.io/jericx/syncclipboard-server:latest
end

create_container
