#!{{ env "HOMEBREW_PREFIX" }}/bin/fish

source "{{ env "XDG_CONFIG_HOME" }}/containers/launchd/_container_helpers.fish"

set -g container_name syncclipboard-server

function create_container
    container_exists; and return 0

    command mkdir -p "{{ env "XDG_DATA_HOME" }}/syncclipboard-server"
    $container_bin image pull docker.io/jericx/syncclipboard-server:latest >/dev/null; or return 1

    $container_bin create \
        --name $container_name \
        --env SYNCCLIPBOARD_USERNAME=chao \
        --env 'SYNCCLIPBOARD_PASSWORD={{ gopass "chao/password" }}' \
        --publish '[::]:{{ .ports.syncclipboard_server }}:5033' \
        --volume '{{ env "XDG_DATA_HOME" }}/syncclipboard-server:/app/data' \
        docker.io/jericx/syncclipboard-server:latest
end

container_main $argv
