#!{{ env "HOMEBREW_PREFIX" }}/bin/fish

source "{{ env "XDG_CONFIG_HOME" }}/containers/launchd/_container_helpers.fish"

set -g container_name cookie-cloud

function create_container
    container_exists; and return 0

    $container_bin image pull docker.io/easychen/cookiecloud:latest >/dev/null; or return 1
    $container_bin create \
        --name $container_name \
        --publish '[::]:{{ .ports.cookie_cloud }}:8088' \
        docker.io/easychen/cookiecloud:latest
end

container_main $argv
