#!/usr/bin/env fish

set -g container_name transmission

function create_container
    if command container inspect $container_name >/dev/null 2>&1
        echo "$container_name already exists"
        return 0
    end

    command mkdir -p \
        "{{ env "XDG_CONFIG_HOME" }}/transmission" \
        "{{ .paths.media }}/downloads/transmission"
    command container image pull lscr.io/linuxserver/transmission:latest >/dev/null; or return 1

    command container create \
        --name $container_name \
        --env USER=chao \
        --env 'PASS={{ gopass "chao/password" }}' \
        --env 'TZ={{ template "getSystemTimezone" . }}' \
        --env 'PEERPORT={{ .ports.transmission.peer }}' \
        --publish '[::]:{{ .ports.transmission.rpc }}:{{ .ports.transmission.rpc }}' \
        --publish '[::]:{{ .ports.transmission.peer }}:{{ .ports.transmission.peer }}' \
        --publish '[::]:{{ .ports.transmission.peer }}:{{ .ports.transmission.peer }}/udp' \
        --volume '{{ env "XDG_CONFIG_HOME" }}/transmission:/config' \
        --volume '{{ .paths.media }}/downloads/transmission:/downloads' \
        lscr.io/linuxserver/transmission:latest
end

create_container
