{{ if eq .os "darwin" -}}
brew shellenv fish | source

abbr keychain-add "/usr/bin/ssh-add --apple-use-keychain"

alias xcode "open -a Xcode.app"

{{ else -}}

{{   if eq .chezmoi.version.builtBy "Homebrew" -}}
brew shellenv fish | source
{{   end -}}
ssh-agent -c | source > /dev/null

abbr sc systemctl
abbr scu "systemctl --user"

alias open xdg-open
# alias tailscale "tailscale --socket $XDG_RUNTIME_DIR/tailscale/tailscaled.sock"
{{ end -}}

if status is-interactive
else
    return
end

# Initialization
if type -q fzf
    fzf --fish | source
end

if type -q mise
    mise activate fish | source
end

if type -q zoxide
    zoxide init fish --cmd cd | source
end

# Plugins
fish_config theme choose catppuccin-mocha
# fzf_configure_bindings --directory=ctrl-alt-f --history=ctrl-alt-h --processes=ctrl-alt-p --variables=ctrl-alt-v; or true

# Abbreviation
abbr -a --position anywhere -- --help '--help | bat -plhelp'
abbr -a --position anywhere -- -h '-h | bat -plhelp'

abbr conf chezmoi
abbr f fastfetch
abbr fzfp "fzf --style full --preview 'fzf-preview.sh {}'"

alias ls "eza --git --header --hyperlink=auto"
alias posting "posting --collection $XDG_CONFIG_HOME/posting/collections"

# Key Binding
function fish_user_key_bindings
    bind tab complete
    bind -M insert tab complete

    bind -M insert \cn _fzf_lsof
    bind -M insert \co launch_opencode
    bind -M insert ctrl-alt-r reload_appearance
end
