function has_proxy
  {{ if eq .chezmoi.os "linux" -}}
    if {{ .meta.isProxyServer }}
      return 1
    end
  {{ end -}}
  set status_code (curl -s -o /dev/null -w "%{http_code}" http://127.0.0.1:{{ .ports.sing_box.clash_api }} -L -H "Authorization: Bearer {{ gopass "chao/password" }}")
  if test $status_code -eq 200
    return 0
  else
    return 1
  end
end
