function is_dark_mode
    {{ if eq .chezmoi.os "darwin" -}}
    if test "$(defaults read -g AppleInterfaceStyle 2>/dev/null)" = Dark
        return 0
    else
        return 1
    end
    {{ end -}}

    {{ if eq .chezmoi.os "linux" -}}
    if test "$(gsettings get org.gnome.desktop.interface color-scheme 2>/dev/null)" = prefer-dark
        return 0
    else
        return 1
    end
    {{ end -}}
end
