function is_proxy_listening
    if {{ eq .os "nixos" }}
        return 1
    end

    for port in {{ .ports.proxy.http }} {{ .ports.proxy.socks }}
        set -l connections (command curl -q \
            --noproxy '*' \
            --connect-timeout 1 \
            --max-time 2 \
            --silent \
            --output /dev/null \
            --write-out '%{num_connects}' \
            "http://127.0.0.1:$port")

        if test "$connections" = 1
            return 0
        end
    end

    return 1
end
