set -gx XDG_CACHE_HOME ~/.cache
set -gx XDG_CONFIG_HOME ~/.config
set -gx XDG_DATA_HOME ~/.local/share
set -gx XDG_STATE_HOME ~/.local/state

set -U fish_greeting
set -g fish_key_bindings fish_vi_key_bindings

set -gx EDITOR nvim
set -gx VISUAL nvim
set -gx PAGER bat

if status is-interactive
    set -gx GPG_TTY (tty)
end

set -gx _ZO_DATA_DIR $XDG_DATA_HOME/zoxide
set -gx _ZO_RESOLVE_SYMLINKS 1
