# Acme
set -gx CF_Email {{ gopass "cloudflare/email" }}
set -gx CF_Token {{ gopass "cloudflare/token" }}

# AWS
set -gx AWS_ACCESS_KEY_ID {{ gopass "aws/access_key_id" }}
set -gx AWS_SECRET_ACCESS_KEY {{ gopass "aws/secret_access_key" }}

# API
set -gx GITHUB_PAT {{ gopass "github/pat" }}
