{
  "endpoints": [
    {
      "type": "tailscale",
      "tag": "endpoints-tailscale",
      "state_directory": "/var/lib/sing-box/tailscale",
      "hostname": "r2s",
      "auth_key": {{ gopass "tailscale/auth_key" | quote }},
      "ephemeral": false,
      "accept_routes": true,
      "advertise_routes": [],
      "advertise_exit_node": false,
      "system_interface": false,
      "ssh_server": false,
      "domain_resolver": "dns-cloudflare"
    }
  ]
}
