[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigation = true
  line-numbers = true
  hyperlinks = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[include]
  path = {{ env "XDG_CONFIG_HOME" }}/git/themes.gitconfig
