{{ if eq .chezmoi.os "darwin" }}
#!/opt/homebrew/bin/fish

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.darwin.taps }}
tap {{ . | quote }}
{{ end }}
{{ range .homebrew.darwin.brews }}
brew {{ . | quote }}
{{ end }}
{{ range .homebrew.darwin.casks }}
cask {{ . | quote }}
{{ end }}
{{ range .homebrew.darwin.mas }}
mas {{ . | quote }}
{{ end }}
EOF

{{ else if .chezmoi.os "linux" }}
#!/home/linuxbrew/.linuxbrew/bin/fish

/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.linux.taps }}
tap {{ . | quote }}
{{ end }}
{{ range .homebrew.linux.brews }}
brew {{ . | quote }}
{{ end }}
{{ range .homebrew.linux.casks }}
cask {{ . | quote }}
{{ end }}
EOF
{{ end }}
