#!/usr/bin/env fish

{{ if eq .chezmoi.version.builtBy "Homebrew" -}}
set gopass {{ env "HOMEBREW_PREFIX" }}/bin/gopass
{{ else -}}
set gopass /usr/bin/gopass
{{ end -}}

$gopass config core.autopush false > /dev/null
$gopass config core.autosync false > /dev/null

$gopass config age.ssh-key-path $SSH_KEY_PATH > /dev/null
$gopass config age.agent-enabled false > /dev/null

$gopass config mounts.path $GOPASS_MOUNTS_PATH > /dev/null
