{
  agents: {
    defaults: {
      model: {
        primary: "openai-codex/gpt-5.4"
      },
      workspace: "{{ env "XDG_DATA_HOME" }}/openclaw/.openclaw/workspace",
      compaction: {
        mode: "safeguard"
      },
      maxConcurrent: 4,
      subagents: {
        maxConcurrent: 8
      }
    }
  },
  auth: {
    profiles: {
      "openai-codex:default": {
        provider: "openai-codex",
        mode: "oauth"
      }
    }
  },
  canvasHost: {
    port: {{ .ports.openclaw.canvas_host }}
  },
  channels: {
    telegram: {
      enabled: true,
      botToken: {{ gopass "openclaw/telegram_bot_token" | quote }},
      dmPolicy: "pairing",
      allowFrom: ["6862873414"],
      groups: { "*": { requireMention: true } }
    }
  },
  commands: {
    native: "auto",
    nativeSkills: "auto",
    restart: true,
    ownerDisplay: "raw"
  },
  gateway: {
    port: {{ .ports.openclaw.gateway }},
    mode: "local",
    bind: "lan",
    controlUi: {
      allowInsecureAuth: true,
      allowedOrigins: [
        "http://10.10.10.3:4000",
        "http://100.100.10.3:4000",
        "https://openclaw.er-meng.com"
      ],
      dangerouslyDisableDeviceAuth: true
    },
    auth: {
      mode: "password",
      password: {{ gopass "chao/password" | quote }}
    },
    tailscale: {
      mode: "off",
      resetOnExit: false
    },
    nodes: {
      denyCommands: [
        "camera.snap",
        "camera.clip",
        "screen.record",
        "contacts.add",
        "calendar.add",
        "reminders.add",
        "sms.send"
      ]
    }
  },
  messages: {
    ackReactionScope: "group-mentions"
  },
  plugins: {
    entries: {
      "device-pair": {
        config: {
          publicUrl: "https://openclaw.er-meng.com"
        }
      },
      ollama: {
        enabled: false
      }
    }
  },
  session: {
    dmScope: "per-channel-peer"
  },
  skills: {
    load: {
      extraDirs: [
        "{{ env "XDG_CONFIG_HOME" }}/opencode/skills"
      ],
      watch: true
    },
    install: {
      preferBrew: true,
      nodeManager: "bun"
    }
  },
  tools: {
    profile: "coding",
    web: {
      search: {
        enabled: true,
        provider: "gemini"
      }
    }
  },
  ui: {
    assistant: {
      name: "J.A.R.V.I.S"
    }
  }
}
