{
  "canvasHost": {
    "port": 4001
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "openai-codex/gpt-5.4"
      },
      "workspace": "/Users/chao/.local/share/openclaw/.openclaw/workspace",
      "compaction": {
        "mode": "safeguard"
      },
      "maxConcurrent": 4,
      "subagents": {
        "maxConcurrent": 8
      }
    }
  },
  "auth": {
    "profiles": {
      "openai-codex:default": {
        "provider": "openai-codex",
        "mode": "oauth"
      }
    }
  },
  "channels": {
    "telegram": {
        "enabled": true,
        "botToken": {{ .secrets.OPENCLAW_TELEGRAM_BOT_TOKEN | quote }},
        "dmPolicy": "pairing",
        "allowFrom": ["6862873414"],
        "groups": { "*": { requireMention: true } },
    },
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "gateway": {
    "port": 4000,
    "mode": "local",
    "bind": "lan",
    "controlUi": {
      "allowedOrigins": [
        "http://10.10.10.3:18789"
      ]
    },
    "auth": {
      "mode": "password",
      "password": {{ .secrets.PASSWORD | quote }}
    },
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    },
    "nodes": {
      "denyCommands": [
        "camera.snap",
        "camera.clip",
        "screen.record",
        "contacts.add",
        "calendar.add",
        "reminders.add",
        "sms.send"
      ]
    }
  },
  "messages": {
    "ackReactionScope": "group-mentions"
  },
  "plugins": {
    "entries": {
      "ollama": {
        "enabled": false
      }
    }
  },
  "session": {
    "dmScope": "per-channel-peer"
  },
  "skills": {
    "load": {
      "extraDirs": [
        "~/.config/opencode/skills"
      ],
      "watch": true
    },
    "install": {
        "preferBrew": true,
        "nodeManager": "bun"
    },
  },
  "tools": {
    "profile": "coding",
    "web": {
      "search": {
        "enabled": true,
        "provider": "gemini"
      }
    }
  },
  "ui": {
    "assistant": {
      "name": "J.A.R.V.I.S"
    }
  }
}
