SUPERUSER="chao"
SUPERUSER_PASSWORD={{ gopass "chao/password" | quote }}
API_TOKEN={{ gopass "movie_pilot/api_key" | quote }}
COOKIECLOUD_ENABLE_LOCAL='True'
COOKIECLOUD_KEY={{ gopass "cookie_cloud/key" | quote }}
COOKIECLOUD_PASSWORD={{ gopass "cookie_cloud/password" | quote }}
GITHUB_TOKEN={{ gopass "github/pat" | quote }}
DATA_CLEANUP_ENABLE="True"
