{{ if eq .chezmoi.os "darwin" -}}

.config/caddy
.config/containers
.config/gnome
.config/locale.conf
.config/samba
.config/sing-box
.config/systemd
.config/wayvnc

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

.config/codesnap
.config/posting

{{ end -}}

.config/nixos
