encryption = "age"
mode = "file"
progress = true
useBuiltinAge = false
useBuiltinGit = false

[add]
secrets = "error"

[age]
identity = "{{ .chezmoi.workingTree }}/key.txt"
recipient = "age15fguepjnfkjt84ma9wjpyjhlrax8fpedv3wergqm2tnppup7py5s68qz4m"

[docker]
command = "podman"

[edit]
apply = true

[interpreters]
[interpreters.fish]
command = "fish"

[pinentry]
command = "pinentry"

[update]
apply = true

[data]
email = "zhangchao050530@gmail.com"
mediaPath = "/Volumes/HDD/Infuse"
rootDir = "{{ .chezmoi.workingTree }}/root"

[data.meta]
{{ $packageManagerList := list "brew" "apt" "dnf" "flatpak" "pacman" "paru" -}}

hostname = {{ promptString "💥 Hostname" .chezmoi.hostname | toToml }}
prettyHostname = {{ promptString "👀 Pretty hostname" | toToml }}
packageManager = {{ promptMultichoice "📦 Package manager" $packageManagerList | toToml }}
isMinimal = {{ promptBool "🧩 Minimal installation" true | toToml }}

{{ if eq .chezmoi.os "linux" -}}
isProxyServer = {{ promptBool "🌐 Whether a proxy server" false | toToml }}
{{ end -}}

[data.ports]
# Reserved
vnc = 5900
proxy.http = 8080
proxy.socks = 1080

# Proxy
yacd = 2000
clash_api = 2001
subscription = 2002

proxy.shadowsocks = 2008
proxy.vmess = 2009
proxy.trojan = 2010
proxy.snell = 2011
proxy.naive = 2012
proxy.tuic = 2013
proxy.hysteria2 = 2014
proxy.anytls = 2015
proxy.vless = 2016
proxy.shadowtls = 2443

# Home Theater
qbittorrent.webui = 3000
qbittorrent.session = 3001
auto_bangumi = 3004
movie_pilot.nginx_port = 3008
movie_pilot.port = 3009

# AI
openclaw.gateway = 4000
openclaw.canvas_host = 4001
open_webui = 4008
opencode.server = 4096

# Misc
jm2epub = 10000
syncclipboard_server = 10001
