{{ if eq .chezmoi.os "darwin" -}}
{{   if .meta.isMinimal -}}
.config/marimo
{{   end -}}

.config/auto_bangumi
.config/caddy
.config/containers
.config/gnome
.config/locale.conf
.config/movie_pilot
.config/qbittorrent
.config/sing-box
.config/snell-server
.config/systemd
.config/wayvnc
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if not .meta.isProxyServer  -}}
.config/snell-server
{{   end -}}

{{   if .meta.isMinimal -}}
.config/ghostty
.config/marimo
.config/wayvnc
{{   end -}}

.config/codesnap
.config/hammerspool
.config/openclaw
.config/posting
{{ end -}}

.config/nixos
