encryption = "age"
format = "json"
mode = "file"
progress = true

[add]
secrets = "error"

[age]
identity = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
recipientsFile = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub"

[docker]
command = "podman"

[edit]
apply = true

[env]
XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"

[git]
autoAdd = true
autoCommit = true
autoPush = true

[hooks]

[interpreters]
[interpreters.fish]
command = "fish"

[pinentry]
{{ if eq .chezmoi.os "darwin" -}}
command = "pinentry-mac"
{{ else -}}
command = "pinentry"
{{ end -}}

[update]
apply = true

[warnings]
configFileTemplateHasChanged = false

[data]
username = "chao"
fullname = "ermengchao"
email = "zhangchao050530@gmail.com"
gitHostUrl = "https://github.com"
rootConfigPath = "{{ .chezmoi.workingTree }}/root"

agentTimeout = 7200
mediaPath = "/Volumes/HDD/Infuse"
scriptDelay = 1

[data.meta]
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "nixos") -}}
hostname = {{ .chezmoi.hostname | toToml }}
{{ else -}}
hostname = {{ promptStringOnce . "meta.hostname" "💥 Hostname" $.chezmoi.hostname | toToml }}
prettyHostname = {{ promptStringOnce . "meta.prettyHostname" "👀 Pretty hostname" | toToml }}
isMinimal = {{ promptBoolOnce . "meta.isMinimal" "🧩 Minimal installation" true | toToml }}
{{ $packageManagerList := list "brew" "apt" "dnf" "flatpak" "pacman" "paru" -}}
packageManager = {{ promptMultichoiceOnce . "meta.packageManager" "📦 Package manager" $packageManagerList | toToml }}
{{ end -}}

{{ if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "nixos") -}}
isProxyServer = {{ promptBoolOnce . "meta.isProxyServer" "🌐 Whether a proxy server" false | toToml }}
{{ end -}}

[data.ports]
# Reserved
vnc = 5900
proxy.http = 8080
proxy.socks = 1080

# Proxy
yacd = 2000
clash_api = 2001
subscription = 2002

proxy.shadowsocks = 2008
proxy.vmess = 2009
proxy.trojan = 2010
proxy.snell = 2011
proxy.naive = 2012
proxy.tuic = 2013
proxy.hysteria2 = 2014
proxy.anytls = 2015
proxy.vless = 2016
proxy.shadowtls = 2443

# Home Theater
qbittorrent.webui = 3000
qbittorrent.session = 3001
transmission.rpc = 3002
transmission.peer = 3003
udpxy = 3004
cookie_cloud = 3005
auto_bangumi = 3008
movie_pilot.nginx_port = 3009
movie_pilot.port = 3010

# AI
openclaw.gateway = 4000
openclaw.canvas_host = 4001
open_webui = 4008
opencode.server = 4096

# Misc
jm2epub = 10000
syncclipboard_server = 10001
