{{ if eq .chezmoi.os "darwin" -}}
{{   if .meta.isMinimal -}}
.config/marimo
{{   end -}}

.config/caddy
.config/containers
.config/home-assistant
.config/locale.conf
.config/movie-pilot
.config/qbittorrent
.config/sing-box
.config/snell-server
.config/systemd
.config/vector
.config/wayvnc
.local/bin/chezmoi-apply-etc
.local/share/subscription
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
.config/fish/config.fish
.config/systemd
{{   else -}}

{{     if not .meta.isProxyServer  -}}
.config/snell-server
.local/share/subscription
{{     end -}}

{{     if .meta.isMinimal -}}
.config/ghostty
.config/marimo
.config/wayvnc
{{     end -}}
{{   end -}}

Library/
.config/codesnap
.config/hammerspoon
.config/karabiner
.config/openclaw
.config/posting
{{ end -}}

.local/share/cloud-init
.local/share/edid
.local/share/podman
