{{- if eq .chezmoi.os "linux" -}}
{{- $isGraphical := eq (output "fish" "-c" "systemctl is-active --quiet gdm; and echo true; or echo false" | trim) "true" -}}
{{   if eq .chezmoi.osRelease.id "fedora" -}}

#!/usr/bin/env fish

{{ range .dnf.packages -}}
sudo dnf install -y {{ . | quote }}
{{ end -}}

{{     if $isGraphical -}}

{{ range .dnf.applications -}}
sudo dnf install -y {{ . | quote }}
{{ end -}}

{{     end -}}

{{   end -}}
{{- end -}}
