{{- if eq .chezmoi.os "linux" -}}
{{- $isGraphical := eq (output "fish" "-c" "systemctl is-active --quiet gdm; and echo true; or echo false" | trim) "true" -}}
{{   if eq .chezmoi.osRelease.id "arch" -}}

#!/usr/bin/env fish

set paru_path ~/Repos/paru

if not test -d $paru_path
    echo "Paru not found. Installing paru to $paru_path..."

    mkdir ~/Repos
    git clone https://aur.archlinux.org/paru.git $paru_path
    cd $paru_path
    makepkg -si
end

{{ range .pacman.packages -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{ end -}}

{{ range .paru.packages -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{ end -}}

{{     if $isGraphical -}}

{{ range .pacman.applications -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{ end -}}

{{     end -}}

{{   end -}}
{{- end -}}
