{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "fedora" -}}

#!/home/linuxbrew/.linuxbrew/bin/fish

{{ range .dnf.packages -}}
sudo dnf install -y {{ . | quote }}
{{ end -}}

{{   end -}}
{{- end -}}
