{{- if eq .chezmoi.os "darwin" -}}

#!/opt/homebrew/bin/fish

begin
{{ range .homebrew.darwin.taps -}}
  echo 'tap {{ . | quote }}'
{{ end -}}
{{ range .homebrew.darwin.brews -}}
  echo 'brew {{ . | quote }}'
{{ end -}}
{{ range .homebrew.darwin.casks -}}
  echo 'cask {{ . | quote }}'
{{ end -}}
{{ range .homebrew.darwin.mas -}}
  echo 'mas {{ .name | quote }}, id: {{ .id }}'
{{ end -}}
end | /opt/homebrew/bin/brew bundle --file=/dev/stdin

{{ else if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.uid "0" -}}
{{   else -}}
{{     if eq .chezmoi.version.builtBy "Homebrew" }}

#!/home/linuxbrew/.linuxbrew/bin/fish

begin
{{ range .homebrew.linux.taps -}}
  echo 'tap {{ . | quote }}'
{{ end -}}
{{ range .homebrew.linux.brews -}}
  echo 'brew {{ . | quote }}'
{{ end -}}
{{ range .homebrew.linux.casks -}}
  echo 'cask {{ . | quote }}'
{{ end -}}
end | /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin

{{-     end }}
{{-   end }}
{{- end -}}
