{{- if eq .chezmoi.os "linux" -}}
{{- $isGraphical := eq (output "fish" "-c" "systemctl is-active --quiet gdm; and echo true; or echo false" | trim) "true" -}}
{{   if $isGraphical -}}
{{     if ne .chezmoi.osRelease.id "arch" -}}

#!/usr/bin/env fish

{{ range .flatpak.remotes -}}
{{ $remote := .name -}}
flatpak remote-add --user --if-not-exists {{ .name }} {{ .location | quote }}

{{   range .applications -}}
flatpak install --user --noninteractive {{ $remote }} {{ . | quote }}
{{   end -}}

{{ end -}}

{{     end -}}
{{   end -}}
{{- end -}}
