#!/usr/bin/env fish

{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "nixos")) -}}
cd {{ .chezmoi.workingTree }}
if not string match -q "dotfiles" (git remote | string trim)
    printf "🧑‍💻 Setting dotfiles repo...\n"

    git remote add dotfiles {{ .gitHostUrl }}/{{ .fullname }}/dotfiles.git > /dev/null
    git fetch --quiet dotfiles
    git branch --set-upstream-to=dotfiles/main main > /dev/null

    printf "✅ Done.\n"
end
{{ end -}}
