#!/usr/bin/env fish

{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "nixos")) -}}
mkdir -p ~/.config
set -Ux XDG_CONFIG_HOME ~/.config

mkdir -p ~/.local/share
set -Ux XDG_DATA_HOME ~/.local/share

mkdir -p ~/.local/state
set -Ux XDG_STATE_HOME ~/.local/state

mkdir -p ~/.cache
set -Ux XDG_CACHE_HOME ~/.cache
{{ end -}}
