#!/usr/bin/env fish

mkdir -p ~/.config
set -Ux XDG_CONFIG_HOME ~/.config

mkdir -p ~/.local/share
set -Ux XDG_DATA_HOME ~/.local/share

mkdir -p ~/.local/state
set -Ux XDG_STATE_HOME ~/.local/state

mkdir -p ~/.cache
set -Ux XDG_CACHE_HOME ~/.cache
