#!/usr/bin/env fish

{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "nixos")) -}}
cd {{ .chezmoi.workingTree }}
if not string match -q "d" (git remote | string trim)
  printf "🧑‍💻 Setting dotfiles repo...\n"

  git remote add d {{ .gitHostUrl }}/{{ .fullname }}/dotfiles.git
  git fetch d
  git branch --set-upstream-to=d/main main

  printf "✅ Done.\n"
end
{{ end -}}
