#!/usr/bin/env fish

if not type -q gopass
  printf "‼️ Could not detect gopass. Please install it first.\n"
  exit 1
end

set key_file {{ .chezmoi.workingTree }}/key.txt
if not test -f $key_file
  printf "‼️ Could not find key.txt. Please generate or import one.\n"
  exit 1
end

printf "🧑‍💻 Setting gopass...\n"

if test -z "$GOPASS_AGE_PASSWORD"
  {{ warnf "GOPASS_AGE_PASSWORD is not set; using interactive mode." -}}
  sleep 2

  if test -z "$GPG_TTY"
    {{ warnf "GPG_TTY is not set. Please run 'set -gx GPG_TTY (tty)' in your current terminal and rerun chezmoi apply." -}}
    exit 1
  end
  read --silent --prompt-str "🙈 Enter your passphrase: " GOPASS_AGE_PASSWORD
  set -x GOPASS_AGE_PASSWORD $GOPASS_AGE_PASSWORD
end

set age_identity (grep AGE-SECRET-KEY $key_file)
set age_recipient (age-keygen -y $key_file)
gopass age identities add $age_identity $age_recipient

set -x GIT_AUTHOR_NAME {{ .username | quote }}
set -x GIT_AUTHOR_EMAIL {{ .email | quote }}
gopass --yes clone --crypto age https://github.com/ermengchao/credentials

cd (gopass config mounts.path)
git remote add c https://github.com/ermengchao/credentials
git fetch c
