#!/usr/bin/env fish

mkdir -p ~/.config
set -gx XDG_CONFIG_HOME ~/.config

mkdir -p ~/.local/share
set -gx XDG_DATA_HOME ~/.local/share

mkdir -p ~/.local/state
set -gx XDG_STATE_HOME ~/.local/state

mkdir -p ~/.cache
set -gx XDG_CACHE_HOME ~/.cache
