[Unit]
Description=Home Assistant Container

[Service]
Restart=on-failure

[Container]
ContainerName=home-assistant
Image=ghcr.io/home-assistant/home-assistant:stable
Privileged=true
AutoUpdate=registry

Network=host

Environment=TZ={{ template "getSystemTimezone" . }}

Volume={{ env "XDG_CONFIG_HOME" }}/home-assistant:/config
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro
