{
  "print_eggs": false,
  "snapshot_config": {
    "title": null,
    "watermark": null,
    "background": "#00000000",
    "themes_folders": [
      "{{ env "XDG_CONFIG_HOME" }}/codesnap/remote_themes"
    ],
    "fonts_folders": [
      "{{ env "XDG_CONFIG_HOME" }}/codesnap/remote_fonts"
    ],
    "window": {
      "mac_window_bar": true,
      "radius": 14,
      "shadow": {
        "radius": 14,
        "color": "#00000066"
      },
      "margin": {
        "x": 56,
        "y": 56
      },
      "border": {
        "width": 0,
        "color": "#ffffff00"
      },
      "title_config": {
        "font_family": "SF Mono Nerd Font"
      }
    },
    "code_config": {
      "font_family": "SF Mono Nerd Font",
      "breadcrumbs": {
        "enable": true,
        "separator": "/",
        "font_family": "SF Mono Nerd Font"
      }
    },
    "command_output_config": {
      "prompt": "❯",
      "font_family": "SF Mono Nerd Font"
    },
    "scale_factor": 3
  }
}
