{{ $base := includeTemplate "dot_config/codesnap/base.json.tmpl" | fromJson -}}
{{ $theme := includeTemplate "dot_config/codesnap/catppuccin-latte-colors.json" | fromJson -}}
{{ list $base $theme | jq ".[0] * .[1]" | first | toPrettyJson -}}
