{
  "print_eggs": false,
  "snapshot_config": {
    "title": null,
    "watermark": null,
    "background": "#00000000",
    "line_number_color": "#6e6e73",
    "themes_folders": ["{{ env "XDG_CONFIG_HOME" }}/codesnap/remote_themes"],
    "fonts_folders": ["{{ env "XDG_CONFIG_HOME" }}/codesnap/remote_fonts"],
    "window": {
      "mac_window_bar": true,
      "radius": 18,
      "shadow": {
        "radius": 18,
        "color": "#00000040"
      },
      "margin": {
        "x": 16,
        "y": 16
      },
      "border": {
        "width": 0,
        "color": "#ffffff00"
      },
      "title_config": {
        "color": "#ffffff",
        "font_family": "SF Mono"
      }
    },
    "code_config": {
      "font_family": "SF Mono",
      "breadcrumbs": {
        "enable": true,
        "separator": "/",
        "color": "#80848b",
        "font_family": "SF Mono"
      }
    },
    "command_output_config": {
      "prompt": "❯",
      "font_family": "SF Mono",
      "prompt_color": "#F78FB3",
      "command_color": "#98C379",
      "string_arg_color": "#ff0000"
    }
  }
}
