#!/usr/bin/env fish

{{ $missingDependencies := list -}}
{{ if and (eq .chezmoi.os "linux") (not (contains "arch" (.chezmoi.osRelease.id | trim))) -}}
{{ $missingDependencies = append $missingDependencies "bun" -}}
{{ end -}}

{{ range $dependency := .dependencies -}}
{{ if not (lookPath $dependency) -}}
{{ warnf "Missing required dependency before chezmoi apply: %s" $dependency -}}
{{ $missingDependencies = append $missingDependencies $dependency -}}
{{ end -}}
{{ end -}}

{{ if gt (len $missingDependencies) 0 }}
exit 1
{{ end }}
