#!/usr/bin/env fish

{{ if eq .chezmoi.os "linux" -}}
sudo mkdir -p /root/.config

{{ range .rootConfig -}}
sudo ln -Tsfn "{{ env "XDG_CONFIG_HOME" }}/{{ . }}" "/root/.config/{{ . }}"
{{ end -}}

{{ end -}}
