#!/usr/bin/env fish

set root_password_store (gopass config mounts.path)
if test -n (ls -A "$root_password_store" | string collect)
    set -x GIT_AUTHOR_NAME {{ .username | quote }}
    set -x GIT_AUTHOR_EMAIL {{ .email | quote }}

    gopass --yes sync
end

sleep {{ .scriptDelay }}
