#!/usr/bin/env fish

{{ $isRoot := includeTemplate "isRoot.tmpl" . }}

{{ if eq "isRoot" "true" }}

{{   range .rootConfig }}
sudo mkdir -p /root/.config
sudo ln -sf $XDG_CONFIG_HOME/{{ . }} /root/.config/{{ . }}
{{   end }}

{{ end }}
