#!/usr/bin/env fish

{{ if eq .chezmoi.os "linux" -}}

{{   range .rootConfig -}}
       sudo mkdir -p /root/.config
       sudo ln -sf {{ env "XDG_CONFIG_HOME" }}/{{ . }} /root/.config/{{ . }}
{{   end -}}

{{ end -}}
