#!/usr/bin/env fish

{{ $device := index .devices .chezmoi.hostname }}
{{ $isMinimal := $device.minimal }}

{{ if eq .chezmoi.os "darwin" -}}
{{   if $isMinimal -}}

begin
{{     range .minimal.homebrew.darwin.taps -}}
  echo 'tap {{ . | quote }}'
{{     end -}}

{{     range .minimal.homebrew.darwin.brews -}}
  echo 'brew {{ . | quote }}'
{{     end -}}

{{     range .minimal.homebrew.darwin.casks -}}
  echo 'cask {{ . | quote }}'
{{     end -}}

{{     range .minimal.homebrew.darwin.mas -}}
  echo 'mas {{ .name | quote }}, id: {{ .id }}'
{{     end -}}
end | /opt/homebrew/bin/brew bundle --file=/dev/stdin

{{   else -}}

begin
{{     range .homebrew.darwin.taps -}}
  echo 'tap {{ . | quote }}'
{{     end -}}

{{     range .homebrew.darwin.brews -}}
  echo 'brew {{ . | quote }}'
{{     end -}}

{{     range .homebrew.darwin.casks -}}
  echo 'cask {{ . | quote }}'
{{     end -}}

{{     range .homebrew.darwin.mas -}}
  echo 'mas {{ .name | quote }}, id: {{ .id }}'
{{     end -}}
end | /opt/homebrew/bin/brew bundle --file=/dev/stdin

{{   end -}}

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

{{ $isGraphical := exec "systemctl" "is-active" "--quiet" "gdm" }}

# ==== DNF ====
{{ if regexMatch "fedora" .chezmoi.osRelease.id -}}

{{   range .dnf.packages -}}
sudo dnf install -y {{ . | quote }}
{{   end -}}

{{   if $isGraphical -}}

{{     range .dnf.applications -}}
sudo dnf install -y {{ . | quote }}
{{     end -}}

{{   end -}}

{{ end -}}
# ==== DNF ====


# ==== Flatpak ===
{{ if not (regexMatch "arch" .chezmoi.osRelease.id) -}}
{{   if $isGraphical -}}

{{     range .flatpak.remotes -}}
{{ $remote := .name -}}
flatpak remote-add --user --if-not-exists {{ .name }} {{ .location | quote }}

{{       range .applications -}}
flatpak install --user --noninteractive {{ $remote }} {{ . | quote }}
{{       end -}}
{{     end -}}

{{   end -}}
{{ end -}}
# ==== Flatpak ===


# ==== Gnome Extensions ====
{{ if $isGraphical -}}
set GNOME_SHELL_VERSION $(gnome-shell --version | grep -oE '[0-9]+\.[0-9]+')

{{   range .gnome.extensions.uuid -}}
curl -L -s -o "/tmp/{{ . }}.zip" "https://extensions.gnome.org/download-extension/{{ . }}.shell-extension.zip?shell_version=$GNOME_SHELL_VERSION"
gnome-extensions install --force "/tmp/{{ . }}.zip"
rm "/tmp/{{ . }}.zip"
{{   end -}}

{{ end -}}
# ==== Gnome Extensions ====


# ==== Homebrew ====
{{ if eq .chezmoi.version.builtBy "Homebrew" -}}
{{   if ne .chezmoi.uid "0" -}}
{{     if $isMinimal -}}

begin
{{       range .minimal.homebrew.linux.taps -}}
  echo 'tap {{ . | quote }}'
{{       end -}}

{{       range .minimal.homebrew.linux.brews -}}
  echo 'brew {{ . | quote }}'
{{       end -}}

{{       range .minimal.homebrew.linux.casks -}}
  echo 'cask {{ . | quote }}'
{{       end -}}
end | /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin

{{     else -}}

begin
{{       range .homebrew.linux.taps -}}
  echo 'tap {{ . | quote }}'
{{       end -}}

{{       range .homebrew.linux.brews -}}
  echo 'brew {{ . | quote }}'
{{       end -}}

{{       range .homebrew.linux.casks -}}
  echo 'cask {{ . | quote }}'
{{       end -}}
end | /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin

{{     end -}}

{{   end -}}

{{ end -}}
# ==== Homebrew ====


# ==== Pacman ====
{{ if regexMatch "arch" .chezmoi.osRelease.id -}}

set paru_path ~/Repos/paru

if not test -d $paru_path
    echo "Paru not found. Installing paru to $paru_path..."

    sudo pacman -S --needed --noconfirm base-devel
    mkdir ~/Repos
    git clone https://aur.archlinux.org/paru.git $paru_path
    cd $paru_path
    makepkg -si
end

{{   if $isMinimal -}}

{{     range .minimal.pacman.packages -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{     end -}}

{{     range .minimal.paru.packages -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{     end -}}

{{   else -}}

{{     range .pacman.packages -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{     end -}}

{{     range .paru.packages -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{     end -}}

{{     if $isGraphical -}}

{{       range .pacman.applications -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{       end -}}

{{       range .paru.applications -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{       end -}}

{{     end -}}

{{   end -}}

{{ end -}}
# ==== Pacman ====

{{ end -}}
