#!/usr/bin/env fish

{{ range .meta.packageManager -}}
{{   $packageMap := index $.packageManagers . }}{{ if $.meta.isMinimal }}{{ $packageMap = index $.packageManagers . "minimal" }}{{ end -}}

{{   if eq . "brew" -}}

{{     if eq $.chezmoi.os "darwin" -}}
         set brew_prefix /opt/homebrew
{{     end -}}

{{     if eq $.chezmoi.os "linux" -}}
         set brew_prefix /home/linuxbrew/.linuxbrew
{{     end -}}

       begin
{{       range index $packageMap $.chezmoi.os "taps" -}}
           echo 'tap {{ . | quote }}'
{{       end -}}
{{       range index $packageMap $.chezmoi.os "brews" -}}
           echo 'brew {{ . | quote }}'
{{       end -}}
{{       range index $packageMap $.chezmoi.os "casks" -}}
           echo 'cask {{ . | quote }}'
{{       end -}}

{{       with index $packageMap $.chezmoi.os "mas" -}}
{{         range . -}}
             echo 'mas {{ .name | quote }}, id: {{ .id }}'
{{         end -}}
{{       end -}}
       end | $brew_prefix/bin/brew bundle --file=/dev/stdin

{{     if eq $.chezmoi.os "darwin" -}}
         brew uninstall --ignore-dependencies --force pinentry
         ln -sf $brew_prefix/bin/pinentry-mac $brew_prefix/bin/pinentry
{{     end -}}

{{   else -}}

{{     $installer := "" }}{{ if (index $.packageManagers .).root }}{{ $installer = "sudo " }}{{ end -}}
{{     $manager := . -}}
{{     $command := index $.packageManagers . "command" -}}
{{     $argList := index $.packageManagers . "args" -}}

{{     range (index $packageMap "packages") -}}
{{       $installer -}} {{ $manager }} {{ $command }} {{ range $argList }} {{ . }} {{ end }} {{ . | quote }}
{{     end -}}

{{   end -}}
{{ end -}}
