[icloud]
type = iclouddrive
apple_id = {{ .secrets.RCLONE_ICLOUDDRIVE_APPLE_ID }}
password = {{ .secrets.RCLONE_ICLOUDDRIVE_PASSWORD }}

[r2]
type = s3
provider = Cloudflare
access_key_id = {{ .secrets.RCLONE_S3_ACCESS_KEY_ID }}
secret_access_key = {{ .secrets.RCLONE_S3_SECRET_ACCESS_KEY }}
endpoint = {{ .secrets.RCLONE_S3_ENDPOINT }}
acl = private
