[icloud]
type = iclouddrive
apple_id = {{ gopass "rclone/icloud_drive/apple_id" }}
password = {{ gopass "rclone/icloud_drive/password" }}

[r2]
type = s3
provider = Cloudflare
access_key_id = {{ gopass "rclone/s3/access_key_id" }}
secret_access_key = {{ gopass "rclone/s3/secret_access_key" }}
endpoint = {{ gopass "rclone/s3/endpoint" }}
acl = private
