{
	"AcceptGifts": true,
	"Enabled": true,
	"SteamLogin": {{ gopass "steam/account" | quote }},
	"SteamPassword": {{ gopass "steam/password" | quote }},
	"Headless": false,
	"IPC": true,
	"IPCPassword": {{ gopass "chao/password" | quote }}
}
