Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3
  TCPKeepAlive yes
  SendEnv LANG LC_*
  SendEnv IS_DARK_MODE
  SendEnv COLORTERM TERM_PROGRAM TERM_PROGRAM_VERSION
  SetEnv TERM=xterm-256color
  AddKeysToAgent yes
  IdentityFile ~/.ssh/keys/%n
  IdentitiesOnly yes
  # PreferredAuthentications publickey

{{ if eq .chezmoi.os "darwin" -}}
Host orb
  Hostname 127.0.0.1
  Port 32222
  User chao
  IdentityFile ~/.orbstack/ssh/id_ed25519
  UserKnownHostsFile ~/.orbstack/ssh/known_hosts
  ProxyCommand '/Applications/OrbStack.app/Contents/Frameworks/OrbStack Helper.app/Contents/MacOS/OrbStack Helper' ssh-proxy-fdpass 501
  ProxyUseFdpass yes
{{ end -}}

Host apne*-*
  Hostname %h.proxy.er-meng.com
  User chao

Host mac-mini
  Hostname 100.100.10.3
  User chao

Host macbook-air
  Hostname 100.100.10.128
  User chao

Host minisforum
  HostName 100.100.20.3
  User chao

Host r2s
  Hostname 100.100.20.1
  User chao

Host pi
  HostName 100.100.10.4
  User chao
