{
  "experimental": {
    "cache_file": {
      "enabled": true
    },
    "clash_api": {
      "external_controller": "0.0.0.0:{{ .ports.clash_api }}",
      "secret": {{ gopass "chao/password" | quote }},
      "default_mode": "rule",
      "access_control_allow_origin": [
        "*"
      ],
      "access_control_allow_private_network": true
    }
  }
}
