{
  "inbounds": [
    {
      "type": "shadowsocks",
      "listen": "::",
      "listen_port": {{ .ports.proxy.shadowsocks }},
      "network": "tcp",
      "method": "2022-blake3-aes-128-gcm",
      "password": {{ gopass "proxy/inbounds/shadowsocks" | quote }},
      "multiplex": {
        "enabled": true
      }
    },
    {
      "type": "trojan",
      "listen": "::",
      "listen_port": {{ .ports.proxy.trojan }},
      "users": [
        {
          "name": "chao",
          "password": {{ gopass "proxy/inbounds/trojan" | quote }}
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "proxy.er-meng.com",
        "acme": {
          "domain": "proxy.er-meng.com",
          "email": {{ gopass "cloudflare/email" | quote }},
          "dns01_challenge": {
            "provider": "cloudflare",
            "api_token": {{ gopass "cloudflare/token" | quote }}
          }
        }
      },
      "multiplex": {
        "enabled": true
      }
    },
    {
      "type": "hysteria2",
      "listen": "::",
      "listen_port": {{ .ports.proxy.hysteria2 }},
      "up_mbps": 100,
      "down_mbps": 100,
      "users": [
        {
          "name": "chao",
          "password": {{ gopass "proxy/inbounds/hysteria2" | quote }}
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "example.org",
        "acme": {
          "domain": "proxy.er-meng.com",
          "email": {{ gopass "cloudflare/email" | quote }},
          "dns01_challenge": {
            "provider": "cloudflare",
            "api_token": {{ gopass "cloudflare/token" | quote }}
          }
        }
      }
    }
  ]
}
