[Unit]
Description=Movie Pilot Container

[Service]
Restart=on-failure

[Container]
ContainerName=movie_pilot
Image=ghcr.io/jxxghp/moviepilot:latest
AutoUpdate=registry

GroupAdd=keep-groups

Environment=NGINX_PORT={{ .ports.movie_pilot.nginx_port }}
Environment=PORT={{ .ports.movie_pilot.port }}
Environment=TZ=Asia/Shanghai
Environment=UMASK=022
Environment=START_NOGOSU=true

PublishPort={{ .ports.movie_pilot.nginx_port }}:{{ .ports.movie_pilot.nginx_port }}
PublishPort={{ .ports.movie_pilot.port }}:{{ .ports.movie_pilot.port }}

Volume={{ env "XDG_CONFIG_HOME" }}/movie_pilot:/config
Volume={{ env "XDG_CONFIG_HOME" }}/qbittorrent/qBittorrent/BT_backup:/BT_backup
Volume={{ .mediaPath }}:/media
