[Unit]
Description=qBittorrent Container

[Service]
Restart=on-failure

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry

UserNS=keep-id

Environment=TZ=Asia/Shanghai
Environment=WEBUI_PORT=3000
Environment=TORRENTING_PORT=3001

PublishPort=3000:3000
PublishPort=3001:3001
PublishPort=3001:3001/udp

Volume={{ env "XDG_CONFIG_HOME" }}/qbittorrent:/config
Volume={{ .mediaPath }}:/downloads
