[Unit]
Description = qBittorrent Container

[Service]
Restart = on-failure

[Container]
ContainerName = qbittorrent
Image = lscr.io/linuxserver/qbittorrent:latest
AutoUpdate = registry

UserNS = keep-id

Environment = TZ={{ template "getSystemTimezone" . }}
Environment = WEBUI_PORT=3000
Environment = TORRENTING_PORT=3001

Network = bridge
PublishPort = [::]:{{ .ports.qbittorrent.webui }}:{{ .ports.qbittorrent.webui }}
PublishPort = [::]:{{ .ports.qbittorrent.session }}:{{ .ports.qbittorrent.session }}
PublishPort = [::]:{{ .ports.qbittorrent.session }}:{{ .ports.qbittorrent.session }}/udp

Volume = {{ env "XDG_CONFIG_HOME" }}/qbittorrent:/config
Volume = {{ .paths.media }}/downloads/qbittorrent:/downloads
