[Unit]
Description=Movie Pilot Container

[Service]
Restart=on-failure

[Container]
ContainerName=movie_pilot
Image=ghcr.io/jxxghp/moviepilot:latest
AutoUpdate=registry

UserNS=keep-id

Environment=NGINX_PORT=3008
Environment=PORT=3009
Environment=TZ=Asia/Shanghai
Environment=UMASK=022
Environment=START_NOGOSU=true

PublishPort=3008:3008
PublishPort=3009:3009

Volume=/home/chao/.config/movie_pilot:/config
Volume=/home/chao/.config/qbittorrent/qBittorrent/BT_backup:/BT_backup
Volume={{ .mediaPath }}:/media
