[Unit]
Description=Movie Pilot Container

[Service]
Restart=on-failure

[Container]
ContainerName=movie_pilot
Image=ghcr.io/jxxghp/moviepilot:latest
AutoUpdate=registry

UserNS=keep-id

Environment=SUPERUSER=chao
Environment=SUPERUSER_PASSWORD={{ .secrets.PASSWORD }}
Environment=TZ=Asia/Shanghai
Environment=NGINX_PORT=3008
Environment=PORT=3009

PublishPort=3008:3008
PublishPort=3009:3009

Volume=/home/chao/.config/movie_pilot:/config
Volume=/home/chao/.config/qbittorrent/BT_backup:/BT_backup
Volume=/Users/chao/.local/share/torrents:/torrents
Volume=/Users/chao/Movies/Movies:/movies
