[Unit]
Description=QBittorrent Container

[Service]
Restart=on-failure

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Shanghai
Environment=WEBUI_PORT=3000
Environment=TORRENTING_PORT=3001
Environment=DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest

PublishPort=3000:3000
PublishPort=3001:3001
PublishPort=3001:3001/udp

Volume=/home/chao/.config/qbittorrent:/config/qBittorrent
Volume=/Users/chao/Downloads:/downloads
