[Unit]
Description=JM2Epub Container

[Service]
Restart=on-failure

[Container]
ContainerName=jm2epub
Image=ghcr.io/ermengchao/jm2epub
AutoUpdate=registry

PublishPort=10000:10000

Environment=JM2EPUB_API_KEY={{ gopass "jm2epub/api_key" }}
Environment=PORT=10000
