[Unit]
Description=Open WebUI Container

[Service]
Restart=on-failure

[Container]
ContainerName=open-webui
Image=ghcr.io/open-webui/open-webui:main
AutoUpdate=registry

PublishPort={{ .ports.open_webui }}:8080

Volume={{ env "XDG_DATA_HOME" }}/open-webui:/app/backend/data
Volume=~/.ollama/models:/root/.ollama/models
Environment=OLLAMA_BASE_URL=http://host.orb.internal:11434
