[Unit]
Description=Open WebUI Container

[Container]
Image=ghcr.io/open-webui/open-webui:main
AutoUpdate=registry
ContainerName=open-webui

PublishPort=3000:8080
AddHost=host.docker.internal:host-gateway
Volume=open-webui:/Users/chao/.ollama/models

[Service]
Restart=always

[Install]
WantedBy=default.target
