[Unit]
Description=sub-store

[Container]
Image=docker.io/xream/sub-store:http-meta
AutoUpdate=registry
ContainerName=sub-store

Network=host

Volume=/home/chao/.local/share/sub-store/data:/opt/app/data

Environment=SUB_STORE_BACKEND_API_HOST=0.0.0.0
Environment=SUB_STORE_BACKEND_API_PORT=3000
Environment=SUB_STORE_BACKEND_MERGE=true
Environment=SUB_STORE_FRONTEND_BACKEND_PATH={{ .secret.SUB_STORE_FRONTEND_BACKEND_PATH }}
Environment=PORT=9876
Environment=HOST=127.0.0.1

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
