[Unit]
Description=Cross-platform cipboard syncing, history management tool

[Service]
Restart=on-failure

[Container]
ContainerName=syncclipboard-server
Image=docker.io/jericx/syncclipboard-server:latest
AutoUpdate=registry

Environment=SYNCCLIPBOARD_USERNAME=chao
Environment=SYNCCLIPBOARD_PASSWORD={{ .secrets.PASSWORD }}

PublishPort=5033:5033

Volume=/home/chao/.local/share/syncclipboard-server:/app/data
