[Unit]
Description = YACD Web Interface for Mihomo
After = network.target

[Service]
Restart = on-failure

[Container]
ContainerName = yacd
Image = docker.io/haishanh/yacd:latest
AutoUpdate = registry

Network = bridge
PublishPort = 0.0.0.0:{{ .ports.yacd }}:80
PublishPort = [::]:{{ .ports.yacd }}:80
