{
  "$schema": "https://opencode.ai/config.json",
  "enabled_providers": ["openai"],
  "tui": {
    "scroll_speed": 3,
    "scroll_acceleration": {
      "enabled": true
    },
    "diff_style": "auto"
  },
  "server": {
    "port": 4096,
    "hostname": "0.0.0.0",
    "mdns": true,
    "cors": ["http://localhost:5173"]
  },
  "tools": {
    "write": true,
    "bash": true,
  },
  "theme": "github",
  "autoupdate": false,
  "permission": {
    "bash": "ask",
    "edit": "ask",
    "read": "allow",
    "grep": "allow",
    "glob": "allow",
    "list": "allow",
    "lsp": "allow",
    "skill": "allow",
    "todowrite": "allow",
    "todoread": "allow",
    "webfetch": "allow",
    "question": "allow",
  },
  "watcher": {
    "ignore": [
      "node_modules/**",
      "dist/**",
      ".git/**"
    ]
  },
  "mcp": {
    "github-mcp": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "enabled": false,
      "headers": {
        "Authorization": "Bearer {{ .secrets.GITHUB_PAT }}"
      }
    },
    "chrome-mcp": {
      "type": "local",
      "command": ["bunx", "chrome-devtools-mcp@latest"],
      "enabled": false,
    },
    "homebrew-mcp": {
      "type": "local",
      "command": ["brew", "mcp-server"],
      "enabled": false,
    },
  },
}
