{
  "$schema": "https://opencode.ai/config.json",
  "enabled_providers": ["openai"],
  "server": {
    "port": {{ .ports.opencode.server }},
    "hostname": "0.0.0.0",
    "mdns": true,
    "cors": ["http://localhost"]
  },
  "tools": {
    "write": true,
    "bash": true,
  },
  "autoupdate": false,
  "permission": {
    "bash": "ask",
    "edit": "ask",
    "read": "allow",
    "grep": "allow",
    "glob": "allow",
    "list": "allow",
    "lsp": "allow",
    "skill": "allow",
    "todowrite": "allow",
    "todoread": "allow",
    "webfetch": "allow",
    "question": "allow",
  },
  "watcher": {
    "ignore": [
      "node_modules/**",
      "dist/**",
      ".git/**"
    ]
  },
  "plugin": [
    "@mohak34/opencode-notifier@latest",
    "oh-my-openagent@latest"
  ],
  "mcp": {
    "github-mcp": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "enabled": false,
      "headers": {
        "Authorization": "Bearer {{ gopass "github/pat" }}"
      }
    },
    "chrome-mcp": {
      "type": "local",
      "command": ["bunx", "chrome-devtools-mcp@latest"],
      "enabled": false,
    },
    "homebrew-mcp": {
      "type": "local",
      "command": ["brew", "mcp-server"],
      "enabled": false,
    },
  },
}
