#!/usr/bin/env fish

printf "📦 Checking for updates for yazi plugins...\n"

if type -q yazi
  ya pkg install --discard >/dev/null
  printf "✅ Done.\n"
else
  printf "‼️ Yazi is not installed. Skip installing.\n"
end
