[Unit]
Description=Homebrew generated unit for cloudflared

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart="/home/linuxbrew/.linuxbrew/opt/cloudflared/bin/cloudflared"
StandardOutput=append:/home/linuxbrew/.linuxbrew/var/log/cloudflared.log
StandardError=append:/home/linuxbrew/.linuxbrew/var/log/cloudflared.log
