[Unit]
Description=Logout then login campus network (05:00 daily via timer)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

Environment="CUIT_USERID=2023083061"
Environment="CUIT_PASSWORD=Cuit_456602847"
Environment="CUIT_SERVICE=电信"
ExecStartPre=/home/chao/.local/bin/logout.sh
ExecStart=/bin/sleep 5
ExecStartPost=/home/chao/.local/bin/login.sh

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target