#!/usr/bin/env fish

{{ $deviceInfo := includeTemplate "deviceInfo.tmpl" . | fromToml -}}

{{ if eq .chezmoi.os "darwin" -}}

begin
{{     range $packagePrefix.homebrew.darwin.taps -}}
  echo 'tap {{ . | quote }}'
{{     end -}}

{{     range $packagePrefix.homebrew.darwin.brews -}}
  echo 'brew {{ . | quote }}'
{{     end -}}

{{     range $packagePrefix.homebrew.darwin.casks -}}
  echo 'cask {{ . | quote }}'
{{     end -}}

{{     range $packagePrefix.homebrew.darwin.mas -}}
  echo 'mas {{ .name | quote }}, id: {{ .id }}'
{{     end -}}
end | /opt/homebrew/bin/brew bundle --file=/dev/stdin

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

{{ $sessionType := includeTemplate "sessionType.tmpl" . -}}
{{ $packageManager := includeTemplate "packageManager.tmpl" . }}

# ==== DNF ====
{{ if regexMatch "fedora" .chezmoi.osRelease.id -}}

{{   range .dnf.packages -}}
sudo dnf install -y {{ . | quote }}
{{   end -}}

{{   if $isGraphical -}}

{{     range .dnf.applications -}}
sudo dnf install -y {{ . | quote }}
{{     end -}}

{{   end -}}

{{ end -}}
# ==== DNF ====


# ==== Flatpak ===
{{ if not (regexMatch "arch" .chezmoi.osRelease.id) -}}
{{   if $isGraphical -}}

{{     range .flatpak.remotes -}}
{{ $remote := .name -}}
flatpak remote-add --user --if-not-exists {{ .name }} {{ .location | quote }}

{{       range .applications -}}
flatpak install --user --noninteractive {{ $remote }} {{ . | quote }}
{{       end -}}
{{     end -}}

{{   end -}}
{{ end -}}
# ==== Flatpak ===


# ==== Homebrew ====
{{ if eq .chezmoi.version.builtBy "Homebrew" -}}
{{   if ne .chezmoi.uid "0" -}}
{{     if $isMinimal -}}

begin
{{       range $packagePrefix.homebrew.linux.taps -}}
  echo 'tap {{ . | quote }}'
{{       end -}}

{{       range $packagePrefix.homebrew.linux.brews -}}
  echo 'brew {{ . | quote }}'
{{       end -}}

{{       range $packagePrefix.homebrew.linux.casks -}}
  echo 'cask {{ . | quote }}'
{{       end -}}
end | /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin

{{     else -}}

begin
{{       range .packages.homebrew.linux.taps -}}
  echo 'tap {{ . | quote }}'
{{       end -}}

{{       range .packages.homebrew.linux.brews -}}
  echo 'brew {{ . | quote }}'
{{       end -}}

{{       range .packages.homebrew.linux.casks -}}
  echo 'cask {{ . | quote }}'
{{       end -}}
end | /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin

{{     end -}}

{{   end -}}

{{ end -}}
# ==== Homebrew ====


# ==== Pacman ====
{{ if regexMatch "arch" .chezmoi.osRelease.id -}}

set paru_path ~/.local/share/Repos/paru

if not test -d $paru_path
    echo "Paru not found. Installing paru to $paru_path..."

    sudo pacman -S --needed --noconfirm base-devel
    mkdir ~/Repos
    git clone https://aur.archlinux.org/paru.git $paru_path
    cd $paru_path
    makepkg -si
end

{{   if $isMinimal -}}

{{     range $packagePrefix.pacman.packages -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{     end -}}

{{     range $packagePrefix.paru.packages -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{     end -}}

{{   else -}}

{{     range .pacman.packages -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{     end -}}

{{     range .paru.packages -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{     end -}}

{{     if $isGraphical -}}

{{       range .pacman.applications -}}
sudo pacman -S --needed --noconfirm {{ . | quote }}
{{       end -}}

{{       range .paru.applications -}}
paru -S --needed --noconfirm --skipreview {{ . | quote }}
{{       end -}}

{{     end -}}

{{   end -}}

{{ end -}}
# ==== Pacman ====

{{ end -}}
