[Unit]
Description=YACD Web Interface for Mihomo
After=network.target

[Service]
Restart=on-failure

[Container]
ContainerName=yacd
Image=docker.io/haishanh/yacd:latest
AutoUpdate=registry

PublishPort=2004:80
