#!/usr/bin/env fish

if type -q sing-box
  cd $XDG_CONFIG_HOME/sing-box

  if {{ .meta.isProxyServer }}
    set config_dir ./server-config
    mkdir -p $XDG_CACHE_HOME/sing-box
  else
    set config_dir ./client-config
    mkdir -p /var/cache/sing-box
  end

  if test -d $config_dir
    sing-box merge config.json -C $config_dir
  end
end
