{{- if eq .chezmoi.os "darwin" -}}

# Appearance
if test "$(defaults read -g AppleInterfaceStyle 2>/dev/null)" = Dark
    set -gx POSTING_THEME synthwave
else
    set -gx POSTING_THEME catppuccin-latte
end

# iCloud Path
set -gx ICLOUD "$HOME/Library/Mobile Documents/com~apple~CloudDocs"

# JDK Flags
set -gx CPPFLAGS -I/opt/homebrew/opt/openjdk/include
set -gx JAVA_HOME /opt/homebrew/opt/openjdk

# puppeteer-executable-path
set -gx PUPPETEER_EXECUTABLE_PATH "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"

{{ else if eq .chezmoi.os "linux" -}}

# Appearance
if test "$(gsettings get org.gnome.desktop.interface color-scheme 2>/dev/null)" = prefer-dark
    set -gx POSTING_THEME synthwave
else
    set -gx POSTING_THEME catppuccin-latte
end

{{ end -}}

# fish
set -U fish_greeting
set -g fish_key_bindings fish_vi_key_bindings

# Editor
set -gx EDITOR nvim
set -gx VISUAL nvim

# Pager
set -gx PAGER bat

# Proxy
if curl -s http://127.0.0.1:7890 >/dev/null 2>/dev/null; and string match -q '{"hello":"mihomo"}' (curl -s http://127.0.0.1:7890 2>/dev/null)
  set -gx HTTP_PROXY http://127.0.0.1:6152
  set -gx HTTPS_PROXY http://127.0.0.1:6152
  set -gx ALL_PROXY socks5://127.0.0.1:6152
end

# XDG Variables
set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME "$HOME/.local/share"
set -gx XDG_CACHE_HOME "$HOME/.cache"
set -gx XDG_STATE_HOME "$HOME/.local/state"

# Bun
set -gx BUN_INSTALL_BIN "$HOME/.local/bin"
set -gx BUN_INSTALL_GLOBAL_DIR "$XDG_DATA_HOME/bun"
set -gx BUN_INSTALL_CACHE_DIR "$XDG_CACHE_HOME/bun"

# fzf
set -gx FZF_DEFAULT_COMMAND "fd --type f"
set -gx FZF_DEFAULT_OPTS "--exact --style full"

# Homebrew
set -gx HOMEBREW_API_AUTO_UPDATE_SECS 600
set -gx HOMEBREW_AUTO_UPDATE_SECS 3600
set -gx HOMEBREW_BAT 1
set -gx HOMEBREW_BAT_CONFIG_PATH "$XDG_CONFIG_HOME/bat/config"
set -gx HOMEBREW_CACHE "$XDG_CACHE_HOME/Homebrew"
set -gx HOMEBREW_CLEANUP_MAX_AGE_DAYS 1
set -gx HOMEBREW_DISPLAY_INSTALL_TIMES 1
set -gx HOMEBREW_NO_INSTALL_CLEAN ""
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx HOMEBREW_UPGRADE_GREEDY 1
set -gx WHALEBREW_CONFIG_DIR $XDG_CONFIG_HOME/whalebrew
set -gx WHALEBREW_INSTALL_PATH $HOME/.local/bin

# Man
set -gx MANPAGER "sh -c 'sed -u -e \"s/\\x1B\\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"

# OpenCode
set -gx OPENCODE_EXPERIMENTAL 1

# Steam
set -gx STEAM_ACCOUNT_ID 1557671255
set -gx STEAM_ID 76561199517936983

# TLDR
set -gx TLRC_CONFIG $XDG_CONFIG_HOME/tldr/config.toml

# Xray
set -gx XRAY_LOCATION_ASSET $XDG_CONFIG_HOME/xray
set -gx XRAY_LOCATION_CONFIG $XDG_CONFIG_HOME/xray

# Zellij
# set -gx ZELLIJ_AUTO_EXIT 1
# set -gx ZELLIJ_CONFIG_DIR $XDG_CONFIG_HOME/zellij

# Zoxide
set -gx _ZO_DATA_DIR $XDG_DATA_HOME/zoxide
set -gx _ZO_FZF_OPTS "--exact style full"
set -gx _ZO_RESOLVE_SYMLINKS 1
