{{- if eq .chezmoi.os "darwin" -}}

fish_add_path /opt/homebrew/opt/coreutils/libexec/gnubin; or true
fish_add_path /opt/homebrew/opt/openjdk/bin; or true
fish_add_path "/Applications/Surge.app/Contents/Applications"; or true

{{ end -}}

fish_add_path "$HOME/.local/bin"; or true
