{{- if eq .chezmoi.os "darwin" -}}

set -gx PATH /Applications/Surge.app/Contents/Applications $PATH; or true
set -gx PATH /opt/homebrew/opt/coreutils/libexec/gnubin $PATH; or true
set -gx PATH /opt/homebrew/opt/openjdk/bin $PATH; or true
set -gx PATH /opt/homebrew/opt/openssh/bin $PATH; or true
set -gx PATH /opt/homebrew/opt/openssl/bin $PATH; or true
set -gx PATH /opt/homebrew/opt/python/bin $PATH; or true
set -gx PATH /opt/homebrew/opt/sqlite/bin $PATH; or true

{{ end -}}

set -gx PATH $HOME/.local/bin $PATH; or true
