# CNC
{{ if eq .chezmoi.os "darwin" -}}

set -gx CNC_USER_ID {{ .secrets.LR_CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .secrets.LR_CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .secrets.LR_CNC_SERVICE }}

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

set -gx CNC_USER_ID {{ .secrets.CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .secrets.CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .secrets.CNC_SERVICE }}

{{ end -}}

# Acme
set -gx CF_Token {{ .secrets.CF_Token }}
set -gx CF_Email {{ .secrets.CF_Email }}

# API
set -gx GITHUB_PAT {{ .secrets.GITHUB_PAT }}
set -gx OLLAMA_API_KEY {{ .secrets.OLLAMA_API_KEY }}
set -gx OPENAI_API_KEY {{ .secrets.OPENAI_API_KEY }}
set -gx NOTION_API_KEY {{ .secrets.NOTION_API_KEY }}

# Discord
set -gx DISCORD_WEBHOOK_URL {{ .secrets.DISCORD_WEBHOOK_URL }}

# PyPI
set -gx TWINE_USERNAME {{ .secrets.TWINE_USERNAME }}
set -gx TWINE_PASSWORD {{ .secrets.TWINE_PASSWORD }}

# Steam
set -gx STEAM_API_KEY {{ .secrets.STEAM_API_KEY }}
