# CNC
{{ if eq .chezmoi.os "darwin" -}}
set -gx CNC_USER_ID {{ .env.LR_CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .env.LR_CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .env.LR_CNC_SERVICE }}
{{ else if eq .chezmoi.os "linux" -}}
set -gx CNC_USER_ID {{ .env.CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .env.CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .env.CNC_SERVICE }}
{{- end }}

# API
set -gx GITHUB_PAT {{ .env.GITHUB_PAT }}
set -gx OPENAI_API_KEY {{ .env.OPENAI_API_KEY }}
set -gx NOTION_API_KEY {{ .env.NOTION_API_KEY }}

# PyPI
set -gx TWINE_USERNAME {{ .env.TWINE_USERNAME }}
set -gx TWINE_PASSWORD {{ .env.TWINE_PASSWORD }}
