# CNC
{{ if eq .chezmoi.os "darwin" -}}

set -gx CNC_USER_ID {{ .secrets.LR_CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .secrets.LR_CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .secrets.LR_CNC_SERVICE }}

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

set -gx CNC_USER_ID {{ .secrets.CNC_USER_ID }}
set -gx CNC_PASSWORD {{ .secrets.CNC_PASSWORD }}
set -gx CNC_SERVICE {{ .secrets.CNC_SERVICE }}

{{ end -}}

# Acme
set -gx CF_Token {{ .secrets.CF_Token }}
set -gx CF_Email {{ .secrets.CF_Email }}

# API
set -gx GEMINI_API_KEY {{ .secrets.GEMINI_API_KEY }}
set -gx GITHUB_PAT {{ .secrets.GITHUB_PAT }}
set -gx OLLAMA_API_KEY {{ .secrets.OLLAMA_API_KEY }}
set -gx OPENROUTER_API_KEY {{ .secrets.OPENROUTER_API_KEY }}
set -gx NOTION_API_KEY {{ .secrets.NOTION_API_KEY }}

# AWS
set -gx AWS_DEFAULT_REGION {{ .secrets.AWS_DEFAULT_REGION }}
set -gx AWS_ACCESS_KEY_ID {{ .secrets.AWS_ACCESS_KEY_ID }}
set -gx AWS_SECRET_ACCESS_KEY {{ .secrets.AWS_SECRET_ACCESS_KEY }}

# Discord
set -gx DISCORD_WEBHOOK_URL {{ .secrets.DISCORD_WEBHOOK_URL }}

# PyPI
set -gx TWINE_USERNAME {{ .secrets.TWINE_USERNAME }}
set -gx TWINE_PASSWORD {{ .secrets.TWINE_PASSWORD }}
