# Acme
set -gx CF_Email {{ gopass "cloudflare/email" }}
set -gx CF_Token {{ gopass "cloudflare/token" }}

# aws
set -gx AWS_ACCESS_KEY_ID {{ gopass "aws/access_key_id" }}
set -gx AWS_SECRET_ACCESS_KEY {{ gopass "aws/secret_access_key" }}

# API
set -gx GEMINI_API_KEY {{ gopass "gemini/api_key" }}
set -gx GITHUB_PAT {{ gopass "github/pat" }}
set -gx OLLAMA_API_KEY {{ gopass "ollama/api_key" }}
set -gx OPENROUTER_API_KEY {{ gopass "openrouter/api_key" }}
set -gx NOTION_API_KEY {{ gopass "notion/api_key" }}

# Discord
set -gx DISCORD_WEBHOOK_URL {{ gopass "discord/webhook_url" }}

# PyPI
set -gx TWINE_USERNAME {{ gopass "twine/username" }}
set -gx TWINE_PASSWORD {{ gopass "twine/password" }}
