[Unit]
Description=postgres service

[Service]
{{ if eq .chezmoi.version.builtBy "Homebrew" -}}
ExecStart="{{ env "HOMEBREW_PREFIX" }}/bin/postgres" "-D" "%h/.local/share/postgresql/18"
{{ else -}}
ExecStart="/usr/bin/postgres" "-D" "%h/.local/share/postgresql/18"
{{ end -}}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
